::-webkit-scrollbar {
	display:none;
}
.tags {
	text-align: center;
	padding: 20px 0px;
	background-color: blue;
}

.tag {
	outline: none;
	border: none;
	color: #eee;
	margin: 0px 10px;
	background-color: transparent;
	cursor: pointer;
	
}

.active {
	font-weight: bold;
	border-bottom: 1px solid #eee;
}
.container {
	margin-left:20px;
	margin-right:20px;
	
	text-align: center;
}

.image-card {
	height:200px;
	width:250px;
	padding: 5px;
	margin: 5px;
	border: 1px solid #ddd;
	border-radius: 2px;
	box-shadow: 2px 10px 10px black;
	overflow: hidden;
	display:inline-block;
	
}


.image1 {
	height:200px;
	width:250px;
	transition: transform 1s;
	
}
.image1:hover{
	transform:scale(1.1);
	
}
@media (max-width:992px){
	.image-card {
		height:200px;
		width:320px;
	}
	.image1 {
		height:200px;
		width:320px;
		
	}
}
@media (max-width:767px){
	.image-card {
		height:200px;
		width:230px;
	}
	.image1 {
		height:200px;
		width:230px;
		
	}
}
@media (max-width:584px){
	.image-card {
		height:200px;
		width:70vw;
	}
	.image1 {
		height:200px;
		width:100vw;
		
	}
}
@media (max-width:383px){
	.image-card {
		height:200px;
		width:90vw;
	}
	.image1 {
		height:200px;
		width:100vw;
		
	}
}

